.Rproj.user
.Rhistory
.RData
.Ruserdata
Big_Results/
.DS_Store
*.DS_Store
Results/.DS_Store
Code/.DS_Store
Data/.DS_Store
Data/Derived/
Results/JAGS/
Results/*
Results
Code/JAGS/zero_test.txt
Code/config.yml

._*
gSMR-faster.jag
smr-faster.R
Code/mcmc manip/
Code/mcmc_Analysis.Rmd

Rplots.pdf

*.pdf
*.jpg
*.jpeg
*.tiff
*.tif
